<div class="container">
  <%= simple_form_for @list do |f|%>
    <p>Nom</p>
    <%= f.input :name, label: false, html5: true %>
    <p>Ajoutez une image</p>
    <%= f.input :photo, as: :file, label: false, html5: true %>
    <% if @list.photo.present? %>
      <%= cl_image_tag @list.photo.key, height: 150, width: 150, crop: :fill %>
    <% end %>
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  <% end %>
</div>
